<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Formulario de compra</h1>
<p>Complete con los datos solicitados</p>

<div class="card card-body">
  <form action="{{url_for('add_contact')}}" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="apellido" placeholder="Apellido">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="direccion" placeholder="Direccion entrega">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="contacto" placeholder="Num contacto">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="pago" placeholder="A la entrega o transferencia">
    </div>
    <button class="btn btn-primary btn-block">
      Realizar pedido 
    </button>
  </form>
</div>
</div>

</body>
</html>