<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Formulario de compra</h1>
<p>Complete con los datos solicitados</p>

<div>
    <form action="">
    <label for="fname">Nombre:</label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="lname">Apellidos:</label><br>
    <input type="text" id="lname" name="lname" ><br>
    <label for="fname">Dirección:</label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="fname">Contacto:</label><br>
    <input type="text" id="fname" name="fname" ><br><br>
    <label for="male">Transferencia</label><br>
    <input type="radio" id="male" name="gender" value="male"><br>
    <label for="female">A la entrega</label><br>
    <input type="radio" id="female" name="gender" value="female"><br><br>
   
    <input type="submit" value="Pagar y solicitar">
  </form>
</div>

</body>
</html>